@define-color base   #1e1e2e;
@define-color surface0 #313244;
@define-color lavender #b4befe;
@define-color text     #cdd6f4;
@define-color red      #f38ba8;

* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 15px;
    font-weight: 900;
}

window#waybar {
    background-color: @base;
    color: @text;
    border-bottom: 2px solid @lavender;
}

#workspaces button {
    padding: 0 10px;
    color: @text;
    margin: 4px 2px;
    border-radius: 8px;
    transition: all 0.3s ease;
}

#workspaces button.active {
    background-color: @lavender;
    color: @base;
}

#mpris {
    color: @lavender;
    margin-left: 15px;
}

#clock {
    color: @lavender;
}

/* --- Справа: сближаем элементы --- */
#pulseaudio.microphone, #pulseaudio, #power-profiles-daemon, #language {
    margin: 0 8px;
}

/* Уменьшаем отступ микрофона, чтобы он был ближе к звуку */
#pulseaudio.microphone { 
    margin-right: 0px; 
    padding-right: 4px;
}

#pulseaudio { 
    padding-left: 0px;
    margin-left: 4px;
}

#language { margin-left: 15px; min-width: 50px; }

#pulseaudio.muted { color: @red; }
#pulseaudio.microphone.source-muted { color: @red; }
#pulseaudio:not(.muted):not(.microphone) { color: @text; }

#tray { margin-left: 10px; margin-right: 15px; }
